<%- include ('../includes/header.ejs') %>

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/form.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <div class="login-container">
            <main>
                 <% if(errorMessage){%>
                    <div class="user-message user-message--error ">
                        <%= errorMessage %>
                        
                <% } %>
                <form class="login-form" action="/login" method="POST">
                    <div class="form-control">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>

                    <div class="form-control">
                        <label for="Password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>

                    <input type="hidden" name= "_csrf"  value="<%= csrfToken %>">
                    <button class="btn" type="submit">Login</button>

                </form>
                <div class="centered">
                    <a href="/resetPassword">Forgot Password?</a>
                </div>
            </main>
        </div>    
            <%- include('../includes/footer.ejs') %>