<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/public/css/product.css">
    <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="centered">
                <h1>
                    <%= product.title%>
                </h1>
                <hr>
                <div class="image">
                    <img src="<%= product.imageUrl %>" alt= "<%= product.title %>">
                </div>

                <div>
                    <h2>
                       $ <%=product.price%>
                    </h2>
                    <p>
                        <%= product.description%>
                    </p>
                </div>
                <hr>
                <div class="centered">
                    <form action="/create-order" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn" type="submit">Buy Now</button>
                    </form>
                </div>
                <% if(isAuthenticated) {%>
                    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                <% } %>
            </main>