<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/public/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="centered">
                <h1>
                    <%= product.title%>
                </h1>
                <hr>
                <div class="image">
                    <img src="<%= product.imageUrl %>" alt= "<%= product.title %>">
                </div>

                <div>
                    <h2>
                       $ <%=product.price%>
                    </h2>
                    <p>
                        <%= product.description%>
                    </p>
                </div>
                <hr>
                <div class="centered">
                    <form action="/create-order" method="post">
                        <button class="btn" type="submit">Buy Now</button>
                    </form>
                </div>
                <%- include('../includes/add-to-cart.ejs') %>   
            </main>